body {
  margin: 0;
  height: 100vh;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border-radius: 20px;
  padding: 10px;
}

button {
  background-color: rgb(0, 200, 255);
  border-radius: 20px;
  padding: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: rgb(100, 222, 255);
}

button:active {
  background-color: rgb(50, 169, 202);
}

.cancel {
  background-color: rgb(255, 25, 0);
}

.cancel:hover {
  background-color: rgb(255, 100, 100);
}

.cancel:active {
  background-color: rgb(202, 60, 50);
}

#header {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  align-items: center;
  padding: 0 10px;
  height: 7vh;
}

#mainScreen {
  display: flex;
  height: 93vh;
}

#divControl {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 93vh;
  align-items: center;
}

#salasList {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: center;
  overflow-y: auto;
}

.salasButton {
  font-size: large;
  width: 80%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#divChat  {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 93vh;
  align-items: center;
}